@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efe
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.square{
  width: 80px;
  height: 80px;
  margin: 2px;
  float: left;
  background-color: #fff;
  font-size: 30px;
  line-height: 80px;
  font-weight: 800;
  text-align: center;
  border-radius: 5px
}

.board-row:after{
  clear: both;
  content: "";
  display: table;
}

.game-board{
  padding: 2px;
  width: 336px;
  border-radius: 5px;
  background-color: #444;
  margin: 10% auto
}

#title{
  font-weight: 400;
  text-align: center
}

.num-0{
  background-color: #fff
}

.num-2{
  background-color: rgb(235,235,255);
}

.num-4{
  background-color: rgb(215,215,255);
}

.num-8{
  background-color: rgb(195,195,255);
}

.num-16{
  background-color: rgb(175,175,255);
}

.num-32{
  background-color: rgb(155,155,255);
}

.num-64{
  background-color: rgb(135,135,255);
}

.num-128{
  background-color: rgb(115,115,255);
}

.num-256{
  background-color: rgb(95,95,255);
}

.num-512{
  background-color: rgb(75,75,255);
}

.num-1024{
  background-color: rgb(55,55,255);
}

.num-2048{
  background-color: rgb(35,35,255);
}